<div class ="container">
  <!--ユーザー情報-->
  <div class="row">
    <%= render partial: "users/user_info", locals: { user: @user } %>
  </div>
  <!--ユーザー投稿一覧-->
  <%= render partial: "users/post_images", locals: { post_images: @post_images } %>
</div>