<!--<div class="row">-->
  <!--<div class ="col-xl-12">-->
    <div class="main-visual">
      <!--<h1 class ="f-crayon">vidarica</h1>-->
      <!--<p class = "f-crayon">これがあるとちょっと暮らしが豊かになる</p>-->
      <!--<p class = "f-crayon">そんなアイテムやアイデアを共有するサイト</p>-->
      <p class="text-center">
        vidarica<br>
        これがあるとちょっと暮らしが豊かになる<br>
        そんなアイテムやアイデアを共有するサイト
      </p>

    </div>
  <!--</div>-->
<!--</div>-->