// Place all the styles related to the PostImages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.card my-3{
  width: 100%;
}

.header-u-image{
  width: 30px;
  height: 30px;
}

.slick-next {
    right: 10px !important;
    z-index: 100;
 }

.slick-prev {
    left: 10px !important;
  z-index: 100;
 }
 // 投稿一覧の各投稿の表示設定ここから

.a{
  width: 270px;
}


.card-header {
  display: flex;
  justify-content: space-between;
}

.u-image{
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 10px;
}

.u-follow{
  float: right;
}

.slick-slide img{
  text-align:center;

  width:auto;
  max-width:270px;
  height:35vh;
}

.card-text{
  display: flex;
  justify-content: space-between;
}
// ここまで