// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// user情報部分
  .user-info{
    display:flex;
    background-color: #f8f9fa;
  }
  .u-icon{
    padding: 5px;
    margin-right: 20px;
  }
  .u-detail{
    padding: 5px;
  }
  .u-introduction{
    width: 100%;
    overflow-wrap: normal;
  }
  .u-link{
    display:flex;
  }
  .item{
    margin-right: 10px
  }