<h1>Admin::Users#index</h1>
<p>Find me in app/views/admin/users/index.html.erb</p>

<table>
  <thead>
    <th></th>
    <th>ユーザー名</th>
    <th>性別</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag user, :image, :fill, 30, 30  %></td>
        <td><%= link_to user.user_name, user_path(user) %></td>
        <td><%= user.gender %></td>
        <td><%= user.encrypted_password %></td>

      </tr>
    <% end %>
  </tbody>
</table>